
$body_bg: #ccc;

$form-bg: #fff;
$form-color: #666;

$input-border-color: #eee;

$button-bg: none;
$button-color: #666;
$button-border-color: #eee;

$button-bg-hover: #a160a1;
$button-color-hover: #fff;
$button-border-color-hover: #a160a1;
