@import '_color-white.scss';

$body_bg: $body_bg;

$form-bg: $form-bg;
$form-color: $form-color;

$button-bg: $button-bg;
$button-color: $button-color;
$button-border-color: $button-border-color;

$button-bg-hover: $button-bg-hover;
$button-color-hover: $button-color-hover;
$button-border-color-hover: $button-border-color-hover;