@import '_color.scss';
@import '_variables.scss';

$frm-color-bg: $form-bg;
$frm-color-color: $form-color;


.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $form-width;
    margin: 0 auto;
    border-radius: $form-border-radius;
    padding: $form-padding-top $form-padding-right $form-padding-bottom $form-padding-left;
    input{
        width: $input-width;
        height: $input-height;
        font-size: $input-font-size;
        margin-bottom: $input-margin-bottom;
        border: $input-border $input-border-color solid;
        border-radius: $input-border-radius;
    }
    button{
        width: $button-width;
        height: $button-height;
        font-size: $button-font-size;
        margin-bottom: $button-margin-bottom;
        border: $button-border $button-border-color solid;
        border-radius: $button-border-radius;
    }
}

.frm-color{
    background: $frm-color-bg;
    color: $frm-color-color;
    button{
        background: $button-bg;
        color: $button-color;
        transition: $button-transition;
        &:hover{
            border: $button-border $button-border-color-hover solid;
            border-radius: $button-border-radius;
            background: $button-bg-hover;
            color: $button-color-hover;
        }
    }
}

.post_main{
    background: #fff;
    border-radius: 3px;
    border: 1px #ccc solid;
    
    .post_title{
        padding: 0px 10px;
        h1{
            text-align: center;
            margin: 5px 0px;
        }
    }
    .post_body{
        .post_img{
            img{
                width: 100%;
            }
            .post_text{
                padding: 0px 10px;
                border-bottom: 1px #eee solid;
                p{
                    text-align: justify;
                }
            }
        }
    }
    .post_footer{
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}