$form-width: 500px;
$form-border-radius: 3px;
$form-padding-top: 10px;
$form-padding-right: 10px;
$form-padding-bottom: 10px;
$form-padding-left: 10px;

$input-width: 100%;
$input-height: 30px;
$input-font-size: 15px;
$input-margin-bottom: 10px;
$input-border: 1px;
$input-border-radius: 3px;

$button-width: 75%;
$button-height: 30px;
$button-font-size: 15px;
$button-margin-bottom: 0px;
$button-border: 1px;
$button-border-radius: 3px;
$button-transition: .3s;